/* ContactUs.css */

body {
  background-color: #f0f0f0; /* Light gray background for the entire page */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px;
  background-color: #e6f7ff; /* Light blue background for the container */
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  font-size: 2.5rem;
  color: #007bff; /* Dark blue heading color */
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.contact-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.option {
  padding: 20px;
  background-color: #ffffff; /* White background for options */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.option:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.option h3 {
  font-size: 1.5rem;
  color: #007bff;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.option p {
  color: #333;
  line-height: 1.5;
}

.contact-form {
  margin-top: 40px;
}

.contact-form label {
  color: #007bff;
  font-weight: bold;
  margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 1rem;
  color: #555;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0px 0px 8px rgba(63, 131, 193, 0.4);
}

.contact-form textarea {
  min-height: 120px;
  resize: vertical;
}

.contact-form button {
  background-color: #f76707; /* Orange button background color */
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #f24c00; /* Darker orange on hover */
}

.social-media-links {
  display: flex;
  margin-bottom: 260px;
  justify-content: center;
  margin-top: 40px;
}

.social-media-links a {
  margin-right: 20px;
  color: #007bff;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.social-media-links a:hover {
  color: #21689c;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .container {
    padding: 40px;
  }

  .container h1 {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .contact-options {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    text-align: center;
  }

  .option {
    width: 100%;
  }

  .contact-form {
    margin-top: 30px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }

  .social-media-links a {
    font-size: 1.3rem;
  }
}
